* {
    margin: 0;
    padding: 0;
    letter-spacing: 0.5px;
    font-family: 'Poppins', sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(90deg, #2c0947, #0e001a, #030004, #080014, #2c0947);
}