* {
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
    overflow: hidden;
    flex-wrap: nowrap;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background: linear-gradient(to right top, #000000, #0e001a, #27003d, #080014, #000000);
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.container {
    background-image: url(/img/fundo.jpg);
    max-width: 800px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgb(0 0 0 / 34%);
    padding: 20px;
    background-position: center;
    background-size: cover;
}
h1 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
}
.label-conteiner {
    display: flex;
    color: #ffffff;
    justify-content: space-around;
}
table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
    height: 300px;
    overflow: auto;
    display: block;
}
th, td {
    padding: 12px;
}
th {
    background-color: #76249700;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}
tr {
    background: none;
    transition: all 0.3s cubic-bezier(0, 0.08, 0.58, 1);
    display: flex;
    justify-content: space-around;
}
tr:hover {
    background-color: #e0e6e800;
    transform: translateY(-2px);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    box-sizing: border-box;
    transition: all 0.3s ease;
    border: none;
}
input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
    outline: none;
    border-color: #b461a9;
    box-shadow: 0 0 5px rgb(90, 32, 82);
}
.edit-icon {
    font-size: 18px;
    color: #ffffff;
    margin-left: 10px;
    cursor: pointer;
    transition: color 0.3s ease;
}
.edit-icon:hover {
    color: #a1a1a1;
}
input{
    background: linear-gradient(226deg, #be8383, #b600ff);
    color: white;
}
::-webkit-scrollbar {
    width: 3px;
}
  ::-webkit-scrollbar-track {
    background: #ff000000;
    border-radius: 90px;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(110deg, #1d0091, #7100a9);
    border-radius: 200px;
}
::-webkit-scrollbar-thumb:hover {
    background: #8d00ce;
}