*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img {
    justify-content: center;
}
body{
    background-image: linear-gradient(to right top, #ffe800, #e39728, #a65634, #56292a, #000000);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    padding: 12px;
}