@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(to right top, #ffe800, #e39728, #a65634, #56292a, #000000);

}

div
{
    background-color: transparent;
    border: 2px solid;
    border-radius: 10px;
    height: 20vh;
    width: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    
}

.buttoncardapio
{
    padding: 30px;
    margin: 20px;
    background-color: transparent;
    border-radius: 10px;
    border-style: solid;
    border-color: #E47B00;
    box-shadow: 0px 0px 10px #E47B00;
    background-color: #FFC23A;
    font-family: 'Rubik';
    
}

.buttoncomanda
{
    padding: 30px;
    margin: 20px;
    background-color: transparent;
    border-radius: 10px;
    border-style: solid;
    border-color: #13DC27;
    box-shadow: 0px 0px 10px #13DC27;
    background-color: #FFC23A;
    font-family: 'Rubik';
}

.buttonpedidocozinha
{
    padding: 30px;
    margin: 20px;
    background-color: transparent;
    border-radius: 10px;
    border-style: solid;
    border-color: #004EE4;
    box-shadow: 0px 0px 10px #004EE4;
    background-color: #FFC23A;
    font-family: 'Rubik';
}

.buttonusuario
{
    padding: 30px;
    margin: 20px;
    background-color: transparent;
    border-radius: 10px;
    border-style: solid;
    border-color: #E40000;
    box-shadow: 0px 0px 10px #E40000;
    background-color: #FFC23A;
    font-family: 'Rubik';
}

button:hover{
    transform: scale(1.1);
    transition: all 0.12s ease-in-out;
    cursor: pointer;
}



